#background {
    background-image: url(img/h_img.jpg);
    position: relative;
    height: 620px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    padding-top: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}

#about {
    height: 250px;
}
 
#us {
    background-image: url(img/s_image.jpg);
    height:250px;
    color: white;
    height:300px;
    padding-top: 100px;
}

 .container-what-we-do{
     text-align: center;
     padding-top: 30px;
     height: 350px;
 }

 .hidden {
     display: none;
 }