#background {
    background-image: url(img/h_img.jpg);
    position: relative;
    height: 720px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    padding-top: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}

#about {
    height: 250px;
}
 
#us {
    background-image: url(img/s_image.jpg);
    height:250px;
    color: white;
    height:300px;
    padding-top: 100px;
}

 .container-what-we-do{
     text-align: center;
     padding-top: 30px;
     height: 400px;
 }

 .hidden1 {
     display: none;
 }

 .hidden2 {
     display: none;
 }
  .hidden3 {
      display: none;
  }

  #portfolio {
      text-align: center;
  }

  .col-md-3 img {
      width: 100%;
      padding: 2px;

  }

.contact {
    background-image: url(img/c_image.jpg);
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 30px;
}

.icon {
    text-align: center;
    padding-bottom: 30px;
}
  
.icon img {
    padding: 10px;
}

#contact-header {
    text-align: center;
    color: white;
    padding-top: 20px;
}

#work4-overlay {
    text-align: center;
    background-color: #a6ced1;
    display: none;
    height: 100%;
}


